button {
  width: 100%;
}

h2,h4 {
  font-family: "Pattaya", sans-serif;
}

.mat-icon{
  margin-left: 3vw;
  margin-top: 2vw;
  transform: scale(2);
}

#fav{
  margin-left: 5vw;
  transform: scale(1);
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled {
  color:gold;
}
