<footer class="pt-md-5 border-top bg-dark mt-5">
    <div class="container row">
        <div class="row">
            <div class="col-4">
                <img class="mb-2" src="../../../assets/images/logo.png" class="img" alt="" width="20" height="20" />
                <strong class="text-light">PlanetM</strong>
                <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
            </div>
            <div class="col-3">
                <h5 class="text-danger">Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5 class="text-danger">Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="text-danger">About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>